# Week11 - Clustering Lab

* Create clusters for the following dataset
* Choose a meaningful cluster count
* Identify potential labels for each cluster

In [45]:
from zipfile import ZipFile
from io import BytesIO
import urllib.request as urllib2
import pandas as pd

def get_data():
    r = urllib2.urlopen("https://github.com/msaricaumbc/DS_data/blob/master/ds602/people_wiki.zip?raw=true").read()
    file = ZipFile(BytesIO(r))
    people_wiki_csv = file.open("people_wiki.csv")
    people = pd.read_csv(people_wiki_csv)
    people.drop('URI', inplace=True, axis=1)
    return people

people = get_data()
people.head()

                  name                                               text
0        Digby Morrell  digby morrell born 10 october 1979 is a former...
1       Alfred J. Lewy  alfred j lewy aka sandy lewy graduated from un...
2        Harpdog Brown  harpdog brown is a singer and harmonica player...
3  Franz Rottensteiner  franz rottensteiner born in waidmannsfeld lowe...
4               G-Enka  henry krvits born 30 december 1974 in tallinn ...

In [46]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42786 entries, 0 to 42785
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    42786 non-null  object
 1   text    42786 non-null  object
dtypes: object(2)
memory usage: 668.7+ KB

In [50]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

def clustering(clusters):
    vectorizer = TfidfVectorizer(stop_words='english')
    X = vectorizer.fit_transform(people['text'])

    kmeans = KMeans(n_clusters=clusters, random_state=42).fit(X)

    order_centroids = kmeans.cluster_centers_.argsort()[:, ::-1]
    terms = vectorizer.get_feature_names()

    for i in range(clusters):
        print("Cluster %d:" % i)
        for ind in order_centroids[i, :10]:
            print(' %s' % terms[ind])
        print()
        
    cluster_counts

In [51]:
clustering(3)

C:\Users\deval\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Cluster 0:
 university
 served
 member
 president
 law
 party
 research
 professor
 minister
 election

Cluster 1:
 music
 film
 new
 album
 art
 band
 television
 award
 series
 work

Cluster 2:
 league
 season
 team
 played
 football
 games
 coach
 club
 player
 won

In [52]:
clustering(5)

Cluster 0:
 party
 election
 minister
 law
 served
 member
 elected
 state
 president
 district

Cluster 1:
 season
 team
 football
 played
 league
 coach
 club
 cup
 won
 championship

Cluster 2:
 music
 film
 album
 band
 released
 television
 new
 festival
 theatre
 series

Cluster 3:
 league
 baseball
 major
 season
 games
 runs
 played
 pitcher
 minor
 sox

Cluster 4:
 university
 new
 research
 art
 book
 work
 published
 professor
 american
 books

From the results, there seem to be similar or overlapping words when choosing number of clusters as 5. For example, Cluster 1 seems to be about Football, and Cluster 3 seems to be about baseball. However, they both are about sports. <br>
There seems to be a clearer distinction when number of clusters is chosen as 3, and a more general one.<br> 

For n_cluster=3<br>
Cluster 0: Education <br>
Cluster 1: Entertainment<br>
Cluster 2: Sports<br>
<br><br>
For n_cluster=5<br>
Cluster 0: Politics<br>
Cluster 1: Football<br>
Cluster 2: Entertainment<br>
Cluster 3: Baseball<br>
Cluster 4: University<br>